__pycache__
simgui*.json
networktables.json
networktables.json.bck
simgui.json
simgui-ds.json
.coverage
.simulationLogs
.wpilib
*.orig
ctre_sim/
memory_report.txt
# 9106 specific ignores
/venv*
/.venv*
/.idea
